<!-- Derick Mullis Mobile Interfaces and Usability_1308 Project 1 -->

a:link {color:#4B9ED1;}
a:visited {color:#69268B;}
a:active {color:#FFF;}

h1 {
	font-family:Helvetica, Arial;
	font-size:1.75em;
	color:#C20606;
	text-align:center;
	border-bottom: solid;
	border-color: white;
	border-width: 1px;
}

h2 {
	text-align:center;
	color:#E0E1E2;
}

h3 {
	text-align: left;
	color:black;
}

head{
	margin-right:10px;
	margin-left:10px;	
}
body {
	font-family:Helvetica, Arial;
	margin-right:10px;
	margin-left:10px;
	padding-left,right:5px;
	background-color:black;
	color:white;
}

p {
	text-align:center;
}

ul {
	color:#D4CDCD;
	list-style-type: none;
}

legend {
	color:#D4CDCD
}

form {
	padding:5px
}

#submit {
	float:right;
	margin-right:10px;
	margin-top:5px;
	padding:5px;
	width:75px;
	height:20px;
}

#titlesection{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	height:20px; 
	margin-top:20px; 
	background-color:white;
}

#titlepara{
	color:black; 
	text-align:left; 
	margin-left: 5px;
}

#stashsearch{
	float:right;
}

#browsemenu{
	font-size: 0;
}

#cta1{
	background-image:url(../img/dragon3.gif);
}

#cta2{
	background-image:url(../img/ctabg.gif);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;

}